BasedOnStyle: Google
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Allman
SpaceInControlStatementParentheses: true
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
SpaceBeforeParens: false
ColumnLimit: 0
